apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: web-app
        image: 060336321420.dkr.ecr.ap-south-1.amazonaws.com/web-app:latest
        ports:
        - containerPort: 80
